// 定义常用样式
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 一像素下边框
.bottom-border-1px {
  position: relative;
  border: none;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $bc;
    transform: scaleY(0.5);
  }
}

// 一像素上边框
.bottom-border-1px {
  position: relative;
  border: none;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: $bc;
    transform: scaleY(0.5);
  }
}
