$navMenu: 250px;
$navMenuMin: 64px;
$layoutHeader: 75px;

$mainColor: #f56c6c; // 主颜色
$consoleAsideBgColor: #344a5f; // 控制台侧边栏颜色
$yellow: #f5a100;
$bc: #e4e4e4;

$fontSize: 12px;
// 底部tabbar的颜色
$tabHeight: 50px;
$tabBarColor: #999;
$tabBarColorActive: #02a774;
